.App {
  .navbar {
    background: rgb(209,14,17);
    background: radial-gradient(circle, rgba(209,14,17,.65) 0%, rgba(176,19,29,.65) 24%, rgba(94,11,11,.65) 68%, rgba(43,6,6,.65) 99%);

    padding: 10px 0;

    .navbar-brand {
      font-size: 1.8rem;
      padding-left: 15px;
    }
  }
}

.nav-link {
  font-size: 1.8rem;

  margin-right: 15px;
}

#bootstrap-override {
  .dropdown-menu {
    min-width: 0;
    top: 32px;
    right: 14px;
    left: auto;

    background-color: rgba(37, 33, 32, 0.5);

    border: 1.5px solid #900000;
    border-radius: 7px;

    button {
      font-size: 1.6rem;
      color: white;

      margin: 0 5px;
      padding: 6px 7px;

      transition: color .6s;

      &:hover {
          background-color: transparent;
          color: red;

          transition: color .6s;
      }
    }
  }
}
